[submodule "spectralmultidomain"]
	path = solver/spectralmultidomain
	url = https://github.com/annayesy/spectralmultidomain
[submodule "simpleoctree"]
	path = matAssembly/HBS/simpleoctree
	url = https://github.com/annayesy/simpleoctree
[submodule "hpsmultidomain"]
	path = solver/hpsmultidomain
	url = https://github.com/hpslib/hpsmultidomain.git
	branch = iti_map
