[submodule "spectralmultidomain"]
	path = solver/spectralmultidomain
	url = https://github.com/annayesy/spectralmultidomain
[submodule "simpleoctree"]
	path = matAssembly/HBS/simpleoctree
	url = https://github.com/annayesy/simpleoctree
